html, body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;

  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;

  margin: 0;

  overflow: hidden;
  user-select: none;
}

body {
  display: grid;
  grid-template-columns: 1920px 1920px 1920px 1920px;
  grid-template-rows: 540px 540px 540px 540px 540px 540px;
}

.mf__block {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.mf__block--1-top {
  grid-column-start: 1;
  grid-row-start: 1;
}

.mf__block--2-top {
  grid-column-start: 2;
  grid-row-start: 1;
}

.mf__block--3-top {
  grid-column-start: 3;
  grid-row-start: 1;
}

.mf__block--4-top {
  grid-column-start: 4;
  grid-row-start: 1;
}

.mf__block--1-bottom {
  grid-column-start: 1;
  grid-row-start: 2;
}

.mf__block--2-bottom {
  grid-column-start: 2;
  grid-row-start: 2;
}

.mf__block--3-bottom {
  grid-column-start: 3;
  grid-row-start: 2;
}

.mf__block--4-bottom {
  grid-column-start: 4;
  grid-row-start: 2;
}

.mf__block--5-top {
  grid-column-start: 1;
  grid-row-start: 3;
}

.mf__block--6-top {
  grid-column-start: 2;
  grid-row-start: 3;
}

.mf__block--7-top {
  grid-column-start: 3;
  grid-row-start: 3;
}

.mf__block--8-top {
  grid-column-start: 4;
  grid-row-start: 3;
}

.mf__block--5-bottom {
  grid-column-start: 1;
  grid-row-start: 4;
}

.mf__block--6-bottom {
  grid-column-start: 2;
  grid-row-start: 4;
}

.mf__block--7-bottom {
  grid-column-start: 3;
  grid-row-start: 4;
}

.mf__block--8-bottom {
  grid-column-start: 4;
  grid-row-start: 4;
}

.mf__block--9-top {
  grid-column-start: 1;
  grid-row-start: 5;
}

.mf__block--10-top {
  grid-column-start: 2;
  grid-row-start: 5;
}

.mf__block--11-top {
  grid-column-start: 3;
  grid-row-start: 5;
}

.mf__block--12-top {
  grid-column-start: 4;
  grid-row-start: 5;
}

.mf__block--9-bottom {
  grid-column-start: 1;
  grid-row-start: 6;
}

.mf__block--10-bottom {
  grid-column-start: 2;
  grid-row-start: 6;
}

.mf__block--11-bottom {
  grid-column-start: 3;
  grid-row-start: 6;
}

.mf__block--12-bottom {
  grid-column-start: 4;
  grid-row-start: 6;
}

.ss__block {
  width: 100%;
  height: 100%;
  object-fit: none;
  grid-row-end: span 2;

  visibility: hidden;
  opacity: 0;
}

.ss__block.active {
  visibility: visible;
  opacity: 1;
}

.ss__block--1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.ss__block--2 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.ss__block--3 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.ss__block--4 {
  grid-column-start: 4;
  grid-row-start: 1;
}

.ss__block--5 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.ss__block--6 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.ss__block--7 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.ss__block--8 {
  grid-column-start: 4;
  grid-row-start: 3;
}

.ss__block--9 {
  grid-column-start: 1;
  grid-row-start: 5;
}

.ss__block--10 {
  grid-column-start: 2;
  grid-row-start: 5;
}

.ss__block--11 {
  grid-column-start: 3;
  grid-row-start: 5;
}

.ss__block--12 {
  grid-column-start: 4;
  grid-row-start: 5;
}

