:host {
  --width: var(--ss-webcam-width, 100vw);
  --height: var(--ss-webcam-height, 100vh);

  position: relative;

  width: var(--width);
  min-width: var(--width);
  max-width: var(--width);

  height: var(--height);
  min-height: var(--height);
  max-height: var(--height);

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  /*margin-left: -160px;*/
}

video {
  --width: 1440px;
  --height: 810px;

  display: block;

  width: var(--width);
  min-width: var(--width);
  max-width: var(--width);

  height: var(--height);
  min-height: var(--height);
  max-height: var(--height);
}